<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.uu.daftest"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <!-- RECORD_AUDIO is needed to create an audio recorder -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

    <!-- MODIFY_AUDIO_SETTINGS is needed to use audio effects-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:icon="@drawable/headset"
        android:label="Stutter Aid"
        android:theme="@style/Theme.AppTheme" >
        <activity
            android:name=".PagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>